{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    {% set route = app.request.get("_route") %}
    <div class = "container">
        <h2> Créer votre commentaire</h2>
    </div> 
    <div class = "container">
        <div class = "row">
            <div class = "col-5">
                {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
                    {{ form_row(form.content) }}
                    {{ form_row(form.note) }}
                    
                    <button type="submit" class="btn btn-primary">Partager votre Commentaire</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script>
            // Add the following code if you want the name of the file appear on select
            window.addEventListener("load", event => {
                $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            });
        </script>
{% endblock %}