{% extends 'base.html.twig' %}
	{% block stylesheets %}
        {{ parent() }}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />  
		<link href="{{ asset('assets/css/viewCss.css') }}" rel="stylesheet" />  
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="icon" href="{{ asset('assets/img/logo3.png') }}">
	{% endblock %}
{% block body %}
    {{ parent() }}

    {% set route = app.request.get("_route") %}
 <div class="container1">
    <div class="container2">       
        <div class="card" style="width: 18rem; height: 25rem">
            <div class="card-body">
                <img src="/uploads/images/{{ pack.picture }}" class="card-img-top" alt="...">
                <h5 class="card-title">{{ pack.name }}</h5>                       
                <p class="card-text">{{ pack.content }}</p>
                <p class="card-text">{{ pack.price }} €</p>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if app.user.isAdmin(1) %}
                        <a href="/update-pack/{{ pack.id }}" class="card-link btn btn-warning mb-2"><i class="fas fa-edit"></i></a>
                        <a href="/delete-pack/{{ pack.id }}" class="card-link btn btn-danger mb-2"><i class="fas fa-trash-alt"></i></a><br>
                        {% endif %}
                        <a href="/create-comment/{{pack.id}}" class="card-link btn btn-white"><i class="fas fa-comment" style="color: green; "></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    
       
    
    <div class="container3">
    <div class="container mt-1 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <ul class="list-unstyled">
                        <!--THIRD LIST ITEM-->
                        {% for comment in comments %}
                        <li class="media"> <span class="round"><img src="https://img.icons8.com/office/100/000000/user-group-man-man--v1.png" class="align-self-start mr-3"></span>
                            <div class="media-body">
                                <div class="row d-flex">
                                    <h6 class="user">{{comment.user.username}} </h6>
                                    <div class="ml-auto">
                                        <p class="text">{{ comment.createdAt|date("d/m/Y") }}</p>
                                    </div>
                                </div>
                                <p class="text mb-2">{{ comment.content}}</p>
                                {% if comment.note == 5 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            {% endif %}
                            {% if comment.note == 4 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            {% endif %}
                            {% if comment.note == 3 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            {% endif %}
                            {% if comment.note == 2 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            {% endif %}
                            {% if comment.note == 1 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i></p>
                            {% endif %}
                            <p> Note: {{ comment.note }}/5 
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and comment.user.id == app.user.id %}
                                    <a href="/update-comment/{{comment.id}}" class="card-link"><i class="fas fa-edit" style="color: blue; "></i></a>
                                    <a href="/delete-comment/{{comment.id}}" class="card-link"><i class="fas fa-trash" style="color: red; "></i></a>
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}