{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    {% set route = app.request.get("_route") %}
    <h2> Voir un Pack de produits</h2>
    </div>
    <div class="container d-flex" >
        <div class="card" style="width: 18rem; height: 25rem;">
            <div class="card-body">
                <img src="/uploads/images/{{ pack.picture }}" class="card-img-top" alt="...">
                <h5 class="card-title">{{ pack.name }}</h5>                       
                <p class="card-text">{{ pack.content }}</p>
                <p class="card-text">{{ pack.price }} €</p>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if app.user.isAdmin(1) %}
                        <a href="/update-pack/{{ pack.id }}" class="card-link btn btn-warning mb-2"><i class="fas fa-edit"></i></a>
                        <a href="/delete-pack/{{ pack.id }}" class="card-link btn btn-danger mb-2"><i class="fas fa-trash-alt"></i></a><br>
                        <a href="/create-comment/{{pack.id}}" class="card-link btn btn-white"><i class="fas fa-comment" style="color: green; "></i></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
            <div>
                <ul>
                    {% for comment in comments %}
                        <li>
                            <b> @ {{comment.user.username}} :</b>                
                            <p> {{ comment.content}}. ({{ comment.createdAt|date("d/m/Y") }})</p>
                            {% if comment.note == 5 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            {% endif %}
                            {% if comment.note == 4 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            {% endif %}
                            {% if comment.note == 3 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            {% endif %}
                            {% if comment.note == 2 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            {% endif %}
                            {% if comment.note == 1 %}
                                <p style="color: yellow;"><i class="fas fa-star"></i></p>
                            {% endif %}
                            <p> Note: {{ comment.note }}/5 
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and comment.user.id == app.user.id %}
                                    <a href="/update-comment/{{comment.id}}" class="card-link"><i class="fas fa-edit" style="color: blue; "></i></a>
                                    <a href="/delete-comment/{{comment.id}}" class="card-link"><i class="fas fa-trash" style="color: red; "></i></a>
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
    </div>


{% endblock %}