{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    {% set route = app.request.get("_route") %}

    <h2> Voir tous les packs</h2>

    <div class="container">
        <div class="row">
            {% for pack in packs %}                 
                <div class="card col-3 mx-2 my-2">
                    <div class="card-body">                           
                        <img src="/uploads/images/{{ pack.picture }}" class="card-img-top img-thumbnail">
                        <h5 class="card-title">{{ pack.name }}</h5>                       
                        <p class="card-text">{{ pack.content }}</p>
                        <p class="card-text">{{ pack.price }} €</p>
                        <a href="update-pack/{{ pack.id }}" class="card-link btn btn-warning">Modifier ce pack</a>
                        <a href="delete-pack/{{ pack.id }}" class="card-link btn btn-danger">supprimer ce pack</a>
                        <a href="create-pack/" class="card-link btn btn-primary">Créer un pack</a>
                        <a href="read-pack/{{ pack.id }}" class="card-link btn btn-success">Voir en détail ce pack</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}