{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    {% set route = app.request.get("_route") %}

    <h2> Voir un Pack de produits</h2>

    <div class="container">
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <img src="/uploads/images/{{ pack.picture }}" class="card-img-top" alt="...">
                <h5 class="card-title">{{ pack.name }}</h5>                       
                <p class="card-text">{{ pack.content }}</p>
                <p class="card-text">{{ pack.price }} €</p>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="/update-pack/{{ pack.id }}" class="card-link btn btn-warning mb-2"><i class="fas fa-edit"></i></a>
                <a href="/delete-pack/{{ pack.id }}" class="card-link btn btn-danger mb-2"><i class="fas fa-trash-alt"></i></a><br>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}