<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
          <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/parallax.min.js') }}"></script>
            <script src="{{ asset('assets/js/slideshow.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


            <script type="text/javascript"> 
              function refresh(){
                  var t = 1000; // rafraîchissement en millisecondes
                  setTimeout('showDate()',t)
              }
              
              function showDate() {
                  var date = new Date()
                  var h = date.getHours();
                  var m = date.getMinutes();
                  var s = date.getSeconds();
                  if( h < 10 ){ h = '0' + h; }
                  if( m < 10 ){ m = '0' + m; }
                  if( s < 10 ){ s = '0' + s; }
                  var time = h + ':' + m + ':' + s
                  document.getElementById('horloge').innerHTML = time;
                  refresh();
               }
           </script>
        {% endblock %}
    </head>
    <body onload=showDate();>
        {% block body %}
        


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img  style="height: 30px; " src="{{ asset('assets/img/logo3.png') }}" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/contact"> <i class="fas fa-address-book"  style="color: grey;"></i> Contact</a>
      </li>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}

      <li class="nav-item">
        <a class="nav-link" href="/basket"><i class="fas fa-shopping-cart" style="color: orange;"></i> Panier</a>
      </li>
      {% endif %}
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}

      <li class="nav-item">
        <a class="nav-link" href="/logout">  <i class="fas fa-power-off" style="color: red;"></i> Deconnexion</a>
      </li>
      {% else %}
        
      <li class="nav-item">
        <a class="nav-link" href="/login"> <i class="fas fa-power-off" style="color: rgb(94, 221, 94);"></i> Connexion</a>
      </li>
      {% endif %}
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}

      <li class="nav-item">
        <a class="nav-link" href="/update-user/{{app.user.username}}"> <i class="fas fa-user" style="color: royalblue;"></i> Votre compte {{ app.user.username }}</a>
      </li>
      {% endif %}
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      {% else %}
        
      <li class="nav-item">
        <a class="nav-link" href="/create-account"> <i class="fas fa-user" style="color: royalblue;"></i> Pas encore de compte ?</a>
      </li>
      {% endif %}
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      {% if app.user.isAdmin(1) %}
      <li class="nav-item">
        <a class="nav-link" href="/create-pack"><i class="fas fa-plus-circle" style="color: #81ecec"></i> Créer un pack</a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
  </div>
</nav>

        {% endblock %}


    </body>
</html>