{% extends 'base.html.twig' %}
	{% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />  
		<link href="{{ asset('assets/css/all.min.css') }}" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="icon" href="{{ asset('assets/img/logo3.png') }}">
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
    {% endblock %}

{% block body %}
    {{ parent() }}
        <div class="container mt-5 pt-3" style="border: 1px solid black;  background-color: #FFEAE5; padding: 0%; border-radius: 10px;">  {# Page permettant l'affichage du panier #}
                    <div class="d-flex p-2">
                        <h2> Votre panier</h2>
                        <a href="/sold" class="btn btn-success ms-5">Valider le panier <i class="fas fa-cart-plus"></i></a>
                    </div>
            {% set route = app.request.get("_route") %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}   {# Si l'utilisateur est connecté #}
                {% if items | length > 0 %}          {# Si il y a des objets dans le panier, on les affiche dans un tableau #}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom du Pack</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}     {# On fait une boucle sur les objets pour en afficher les détails #}
                                <tr>
                                    <td>{{ item.pack.name }}</td>
                                    <td>{{ item.pack.price }} €</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.pack.price * item.quantity }} €</td>   {# Pour avoir le total du panier #}
                                    <td>
                                        <a href="/delete-pack-basket/{{ item.pack.id }}" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right">Total :</td>
                                <td>{{ total }} €</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>

                {% else %}        
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom du Pack</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Votre panier est vide !</td>
                            </tr>
                        </tbody>
                    </table>  
                {% endif %}
            {% else %}
                <h2>Créez un compte pour avoir un panier !</h2>
                <h3>Cliquez au-dessus, ça ne prend que 1 minute, c'est facile</h3>
            {% endif %}       
        </div>
{% endblock %}