{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
<div class="container pt-5">
    {% set route = app.request.get("_route") %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if items | length > 0 %}
                <h2> Votre panier</h2>
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom du Pack</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.pack.name }}</td>
                                    <td>{{ item.pack.price }} €</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.pack.price * item.quantity }} €</td>
                                    <td>
                                        <a href="/delete-pack-basket/{{ item.pack.id }}" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right">Total :</td>
                                <td>{{ total }} €</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>

            {% else %}        
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom du Pack</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Votre panier est vide !</td>
                        </tr>
                    </tbody>
                </table>  
            {% endif %}
        {% endif %}       
</div>
{% endblock %}