{% extends 'base.html.twig' %}
	{% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />  
		<link href="{{ asset('assets/css/all.min.css') }}" rel="stylesheet" />  
		<link href="{{ asset('assets/css/templatemo-style.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/css/slideshow.css') }}" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="icon" href="{{ asset('assets/img/logo3.png') }}">
		<link href="{{ asset('assets/css/manager.css') }}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet"> 
    {% endblock %}
{% block body %}
    {{ parent() }}

<div class="container col-6">
	<div class="mt-5">

			{{ form_start(form) }}
				{{ form_row(form) }}
			{{ form_end(form) }}
	</div>
	<div>
		<h5>Le montant de la commande est de {{'totalPrice'}} €</h5>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script>
            // Add the following code if you want the name of the file appear on select
            window.addEventListener("load", event => {
                $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            });
        </script>
{% endblock %}