{% extends 'base.html.twig' %}
	{% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />  
		<link href="{{ asset('assets/css/all.min.css') }}" rel="stylesheet" />  
		<link href="{{ asset('assets/css/templatemo-style.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/css/slideshow.css') }}" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="icon" href="{{ asset('assets/img/logo3.png') }}">
		<link href="{{ asset('assets/css/manager.css') }}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet"> 
    {% endblock %}
	
{% block body %}
    {{ parent() }}

<div class="container col-6">
	<div class="mt-5">
		{{ form_start(form) }}
			{{ form_row(form.code) }}
			<input type="submit" class="btn btn-info">
		{{ form_end(form) }}
	</div>
		<h5 class="my-5 text-success" style="font-weight:bold">Montant de la transaction : {{ totalPrice }} EUR</h5>
	<div>
		<div class="input-group">
			<p class="me-5">Types de paiement</p>
			<div class="input-group-prepend">
				<div>
					<input type="radio" aria-label="Radio button for following text input">
					<img src="/assets/img/logo-cb-1.jpg" alt="" style="height: 30px" class="mx-2 my-2"><span class="ms-2"> Carte Bancaire</span>
				</div>
				<div>
					<input type="radio" aria-label="Radio button for following text input">
					<img src="/assets/img/ancien-logo-visa-1-1024x389.png" alt="" style="height: 30px" class="mx-2 my-2"><span class="ms-2"> Visa</span>
				</div>
				<div>
					<input type="radio" aria-label="Radio button for following text input">
					<img src="/assets/img/MasterCard-Logo-1-1024x768.png" alt="" style="height: 30px" class="mx-2 my-2"><span class="ms-2"> MasterCard</span>
				</div>
				<div>
					<input type="radio" aria-label="Radio button for following text input">
					<img src="/assets/img/PP_logo_h_200x51-1.png" alt="" style="height: 30px" class="mx-2 my-2"><span class="ms-2"> PayPal</span>
				</div>
				<div class="mt-4">
					<span class="me-5">N° de carte </span><input type="text">
				</div>
				<div class="my-3">
					<span class="me-5">Date d'expiration</span><span class="me-2">mm/aa</span><input type="text" class="mx-1" style="width:50px"><span>/</span><input type="text" class="mx-1" style="width:50px">
				</div>
				<div class="my-3">
					<span class="me-5">Cryptogramme visuel</span><input type="text" style="width:50px">
				</div>
				<a href="/order" type="button" class="btn btn-warning mb-3 mt-2">Commander</a>																						
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script>
            // Add the following code if you want the name of the file appear on select
            window.addEventListener("load", event => {
                $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            });
        </script>
{% endblock %}